.center {
  margin: 0 auto;
} 

.nuevoUsuarioTitle {
  background: #f2f2f2;
  padding: 10px;
  border: 1px solid rgb(228, 219, 202);
  margin: 0;
}

.form-group {
  border: 1px solid rgb(228, 219, 202);
  padding: 10px;
}

.content-text {
  text-align: justify;
}

.label-item {
  width: 500px;
  color: black;
}

.label-item a {
  text-decoration: none;
  color: black;
  font-size: 19px;
} 

.dropdown-color {
  padding: 10px 50px;
}



.form-group {
  border: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  padding-bottom: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 15%;
}

.botones {
  margin: 20px auto;
}

.close {
  background: #aaaaaa;
  float: right;
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
  padding: 5px;
}



.cancelar {
  background: #004;
}


