.center {
  margin: 0 auto;
} 

.nuevoUsuarioTitle {
  background: #f2f2f2;
  padding: 10px;
  border: 1px solid rgb(228, 219, 202);
  margin: 0;
}

.form-group {
  border: 1px solid rgb(228, 219, 202);
  padding: 10px;
}

.content-text {
  text-align: justify;
}