<%- include('../partial/head.view.ejs'); %>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle bg-dark" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Articulos
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action <div name="" id="" class="ml-5 btn btn-danger" href="#" role="button">Accion</div> </a>
  </div>
</div>


<%- include('../partial/end-body.view.ejs'); %>