<nav class="nav justify-content-center bg-dark p-3">
  <a class="nav-link active text-white" href="#">- Crear articulo</a>
  <a class="nav-link text-white" href="#">- Eliminar articulo</a>
  <a class="nav-link text-white" href="#">- Modificar articulo</a>
</nav>